[submodule "Avalonia.IconPacks"]
	path = Avalonia.IconPacks
	url = https://github.com/ahopper/Avalonia.IconPacks.git
[submodule "trienet"]
	path = trienet
	url = https://github.com/Nenkai/trienet.git
[submodule "Aldwych.LogView"]
	path = Aldwych.LogView
	url = https://github.com/Nenkai/Aldwych.LogView
[submodule "nodify-avalonia"]
	path = nodify-avalonia
	url = https://github.com/Nenkai/nodify-avalonia
[submodule "Avalonia.PropertyGrid"]
	path = Avalonia.PropertyGrid
	url = https://github.com/Nenkai/Avalonia.PropertyGrid
